body {
	background-color: #93A8AC;
	width: 100%;
}

* {
	font-family: Comfortaa, cursive;
	scroll-behavior: smooth;
}
.navbar-brand{
	font-family: Comforter Brush, cursive !important;
	font-size: 2rem;
	font-weight: bold;
	vertical-align: top;

}

nav {
	background-color: #4C5760;

}

.nav-link {
	font-size: 1.3rem;
	margin: 0;

}

#aboutme {
	background-color: #93A8AC;
}


.fab {
	color: black;
}


#intro {
	font-size: 1.2rem;
}


.placeholder {
	font-family: Comforter Brush, cursive !important;
	font-weight: bold;
	vertical-align: bottom;
	font-size: 2rem;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
	align-items: center;
}



#placeholder {
	height: 50vh;
	width: 30%;
}


#other-tools {
/*	background-color: #A3B4B8;*/
}

#contact {
	background-color: #AEBEC1;
}


#back-to-top {
	color: black;
	scroll-behavior: smooth;
}

footer {
	background-color: #4C5760;
}