body {
	background-color: #93A8AC;
	width: 100%;
}

* {
	font-family: Comfortaa, cursive;
	scroll-behavior: smooth;
}
nav {
	background-color: #4C5760;

}

.navbar-brand{
	font-family: Comforter Brush, cursive !important;
	font-size: 2rem;
	font-weight: bold;
	vertical-align: top;

}


.nav-link {
	font-size: 1.3rem;
	margin: 0;

}



#banner {
	background-image: url(https://images.pexels.com/photos/3611882/pexels-photo-3611882.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-position: top;
}




#intro {
	font-size: 1.2rem;
}


.placeholdertext {
	font-family: Comforter Brush, cursive !important;
	font-weight: bold;
	font-size: 1.5rem;
}

#toolstext {
	font-weight: bold;
}

#placeholder {
	height: 50vh;
	width: 30%;
}

.card {
	background-color: #AEBEC1;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
	align-items: center;
}

.contact {
	background-color: #AEBEC1;
}

.contact-logo {
	height: 30px;
	width: 30px;
}

.fab {
	color: black;
}

#back-to-top {
	color: black;
	scroll-behavior: smooth;
}

footer {
	background-color: #4C5760;
}